# Chapter 2  Python Variables and Operators

## Python variables

A variable is a reserved memory area (memory address) to store value. For example, we want to store an employee‚Äôs salary. In such a case, we can create a variable and store salary using it. Using that variable name, you can read or modify the salary amount.

In other words, a variable is a value that varies according to the condition or input pass to the program. Everything in Python is treated as an object so every variable is nothing but an object in Python.

A variable can be either mutable or immutable. If the variable‚Äôs value can change, the object is called mutable, while if the value cannot change, the object is called immutable.

## Creating a variable

Python programming language is dynamically typed, so there is no need to declare a variable before using it or declare the data type of variable like in other programming languages. The declaration happens automatically when we assign a value to the variable.

##### Creating a variable and assigning a value

We can assign a value to the variable at that time variable is created. We can use the assignment operator = to assign a value to a variable.

The operand, which is on the left side of the assignment operator, is a variable name. And the operand, which is the right side of the assignment operator, is the variable‚Äôs value.

variable_name = variable_value

In [ ]:
name = "Deepali"  # string assignment
age = 25  # integer assignment
salary = 25800.60  # float assignment

print(name)  # Deepali
print(age)  # 25
print(salary)  # 25800.6

Deepali
25
25800.6

In the above example, ‚ÄúDeepali‚Äù, 25, 25800.60 are values that are assigned to name, age, and salary respectively.

## Create Number, String, List variables

We can create different types of variables as per our requirements.

### Number

A number is a data type to store numeric values. The object for the number will be created when we assign a value to the variable. In Python3, we can use the following three data types to store numeric values.

1. Int
2. float
3. complex
4. Boolean

### Integer variable

The int is a data type that returns integer type values (signed integers); they are also called ints or integers. The integer value can be positive or negative without a decimal point.

In [ ]:
# create integer variable
age = 24
print(age)  # 24
print(type(age))  # <class 'int'>

24
<class 'int'>

Note: We used the built-in Python method type() to check the variable type.

### Float variable

Floats are the values with the decimal point dividing the integer and the fractional parts of the number.  Use float data type to store decimal values.

In [ ]:
# create float variable
salary = 10800.55
print(salary)  # 10800.55
print(type(salary))  # <class 'float'>

10800.55
<class 'float'>


In the above example, the variable salary assigned to value 10800.55, which is a float value.

### Complex type

The complex is the numbers that come with the real and imaginary part. A complex number is in the form of a+bj, where a and b contain integers or floating-point values.

In [ ]:
a = 9 + 5j
print(a)  # (9+5j)
print(type(a))  # <class 'complex'>

(9+5j)
<class 'complex'>

### String variable

In Python, a string is a set of characters represented in quotation marks. Python allows us to define a string in either pair of single or double quotation marks. For example, to store a person‚Äôs name we can use a string type.

To retrieve a piece of string from a given string, we can use to slice operator [] or [:]. Slicing provides us the subset of a string with an index starting from index 0 to index end-1.

To concatenate the string, we can use the addition(+) operator.

In [ ]:
# create a variable of type string
str = 'DataScience'
# prints complete string
print(str)  # Data Science

# prints first character of the string
print(str[0])  # D

# prints characters starting from 2nd to 5th
print(str[2:5])  # taS

# length of string
print(len(str))  # 12

# concatenate string
print(str + "TEST")  # Data ScienceTEST

DataScience
D
taS
11
DataScienceTEST

# Booleans
Boolean is the type of a variable True or False and thus are extremely useful when coding.

They can be obtained by comparisons >, >= (greater, greater or √©gal), <, <= (smaller, smaller or equal) or membership == , != (equality, different).
They can be manipulated by the logical operations and, not, or.

In [ ]:
print('2 > 1\t', 2 > 1)
print('2 > 2\t', 2 > 2)
print('2 >= 2\t',2 >= 2)
print('2 == 2\t',2 == 2)
print('2 == 2.0',2 == 2.0)
print('2 != 1.9',2 != 1.9)

2 > 1	 True
2 > 2	 False
2 >= 2	 True
2 == 2	 True
2 == 2.0 True
2 != 1.9 True

# Input

In [ ]:
# Taking input as string
color = input("What color is rose?: ")
print(color)

# Taking input as int
# Typecasting to int
n = int(input("How many roses?: "))
print(n)

# Taking input as float
# Typecasting to float
price = float(input("Price of each rose?: "))
print(price)

What color is rose?: red
red
How many roses?: 5
5
Price of each rose?: 400
400.0

# Operators
Operators are special symbols that perform specific operations on one or more operands (values) and then return a result. For example, you can calculate the sum of two numbers using an addition (+) operator.

Python has seven types of operators that we can use to perform different operation and produce a result.
 1. Arithmetic operator
 2. Relational operators
 3. Assignment operators
 4. Logical operators
 5. Membership operators
 6. Identity operators
 7. Bitwise operators

## 1. Arithmetic operator

Arithmetic operators are the most commonly used. The Python programming language provides arithmetic operators that perform addition, subtraction, multiplication, and division. It works the same as basic mathematics.

There are seven arithmetic operators we can use to perform different mathematical operations, such as:

1. (+)(Addition)
2. (-)(Subtraction)
3. (*) (Multiplication)
4. (/) (Division)
5. (//) Floor division)
6. (‚ÑÖ) (Modulus)
7. (**) (Exponentiation)

| Operator|Meaning|Example |
|:- |----|------|
| +	| Add |  two operands or unary plus	| x + y+ 2 |
| -	|Subtract right operand from the left or unary minus | x - y- 2|
| *	|Multiply two operands| x * y |
| /	|Divide left operand by the right one (always results into float)| x / y |
| %	|Modulus - remainder of the division of left operand by the right| x % y (remainder of x/y) |
| //|Floor division - division that results into whole number adjusted to the left in the number line|x // y|
|**	|Exponent - left operand raised to the power of right|x**y (x to the power y)|

Now, let‚Äôs see how to use each arithmetic operator in our program with the help of examples.

##### Addition operator +

It adds two or more operands and gives their sum as a result. It works the same as a unary plus. In simple terms,  It performs the addition of two or more than two values and gives their sum as a result.

Example

In [ ]:
x = 10
y = 20
print(x + y)

30

Also, we can use the addition operator with strings, and it will become string concatenation.

In [ ]:
name = "Deepali"
surname = " Shinde "
print(name + surname)

Deepali Shinde

In [ ]:
#OR
name = "Kelly"
surname = "Ault"
print(surname + " " + name)

Ault Kelly

##### Subtraction -

Use to subtracts the second value from the first value and gives the difference between them. It works the same as a unary minus. The subtraction operator is denoted by - symbol.

In [ ]:
x = 50
y = 20
print(x - y)
print(y - x)

30
-30

##### Multiplication *

Multiply two operands. In simple terms, it is used to multiplies two or more values and gives their product as a result. The multiplication operator is denoted by a * symbol.

In [ ]:
a = 8
b = 3
c = 2
print( a*b)
print(a*b*c)

24
48

You can also use the multiplication operator with string. When used with string, it works as a repetition.

In [ ]:
name = "Deepali"
print(name * 3)

DeepaliDeepaliDeepali

##### Division /

Divide the left operand (dividend) by the right one (divisor) and provide the result (quotient ) in a float value. The division operator is denoted by a / symbol.

Note:

The division operator performs floating-point arithmetic. Hence it always returns a float value.
Don‚Äôt divide any number by zero. You will get a Zero Division Error: Division by zero

In [ ]:
x = 2
y = 4
z = 7

print(x/y)
print(x/y/z)

0.5
0.07142857142857142

##### 5. Floor division //

Floor division returns the quotient (the result of division) in which the digits after the decimal point are removed. In simple terms, It is used to divide one value by a second value and gives a quotient as a round figure value to the next smallest whole value.

It works the same as a division operator, except it returns a possible integer. The // symbol denotes a floor division operator.

Note:

Floor division can perform both floating-point and integer arithmetic.
If both operands are int type, then the result types. If at least one operand type, then the result is a float type.

In [ ]:
a = 3
b = 5
c = 2.2

# Normal Division
print(b/a)

# floor division to get result as integer
print(b//a)

# normal division
print(b/c)

# floor division.
# Result as float because one argument is float
print(b//c)

1.6666666666666667
1
2.2727272727272725
2.0

##### 6. Modulus ‚ÑÖ

The remainder of the division of left operand by the right. The modulus operator is denoted by a % symbol. In simple terms, the Modulus operator divides one value by a second and gives the remainder as a result.

In [ ]:
a = 12
b = 5
print(a%b)

2

##### 7. Exponent **

Using exponent operator left operand raised to the power of right. The exponentiation operator is denoted by a double asterisk ** symbol. You can use it as a shortcut to calculate the exponential value.

For example, 2**3 Here 2 is multiplied by itself 3 times, i.e., 2 * 2 * 2. Here the 2 is the base, and 3 is an exponent.

In [ ]:
number = 2
print(number**4)

16

# Exercise

1. ‡πÉ‡∏´‡πâ‡∏ô‡∏±‡∏Å‡∏®‡∏∂‡∏Å‡∏©‡∏≤‡∏£‡∏±‡∏ö‡∏≠‡∏¥‡∏ô‡∏û‡∏∏‡∏ó‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÄ‡∏ï‡πá‡∏°‡∏à‡∏≤‡∏Å‡∏ú‡∏π‡πâ‡πÉ‡∏ä‡πâ 2 ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô ‡πÅ‡∏•‡πâ‡∏ß‡∏ô‡∏≥‡∏Ñ‡πà‡∏≤‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡∏™‡∏≠‡∏á‡∏ï‡∏±‡∏ß‡∏ô‡∏±‡πâ‡∏ô‡∏°‡∏≤‡∏ö‡∏ß‡∏Å‡∏Å‡∏±‡∏ô‡πÅ‡∏•‡∏∞‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå
![ff.gif]()

In [ ]:
#‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡πÇ‡∏õ‡∏£‡πÅ‡∏Å‡∏£‡∏°‡∏ï‡∏£‡∏á‡∏ô‡∏µ‡πâ
firstNum, lastNum = int(input("Please Enter First Number : ")), int(input("Please Enter Second Number : "))
print(f"The sum of the tow given number is : {firstNum + lastNum}")

Traceback (most recent call last):
  File "c:\Users\chimo\.vscode\extensions\ms-python.python-2024.20.0-win32-x64\python_files\python_server.py", line 129, in exec_user_input
    callable_ = exec_function(user_input)
  File "c:\Users\chimo\.vscode\extensions\ms-python.python-2024.20.0-win32-x64\python_files\python_server.py", line 94, in exec_function
    compile(user_input, "<stdin>", "eval")
    ~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
UnicodeEncodeError: 'utf-8' codec can't encode character '\udc82' in position 6: surrogates not allowed

2. ‡∏à‡∏á‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡πÇ‡∏õ‡∏£‡πÅ‡∏Å‡∏£‡∏°‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏£‡∏±‡∏ö‡∏Ñ‡πà‡∏≤ ‡∏ô‡πâ‡∏≥‡∏´‡∏ô‡∏±‡∏Å‡πÅ‡∏•‡∏∞‡∏™‡πà‡∏ß‡∏ô‡∏™‡∏π‡∏á ‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏Ñ‡πà‡∏≤ BMI ‡πÇ‡∏î‡∏¢‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡∏°‡∏µ‡∏ó‡∏®‡∏ô‡∏¥‡∏¢‡∏° 2 ‡∏ï‡∏≥‡πÅ‡∏´‡∏ô‡πà‡∏á

Enter your weight in kilograms:   65

Enter your height in centimeter:  167

BMI = 23.31

In [ ]:
#‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡πÇ‡∏õ‡∏£‡πÅ‡∏Å‡∏£‡∏°‡∏ï‡∏£‡∏á‡∏ô‡∏µ‡πâ
weight, height = int(input("Enter your weight in kilograms : ")), int(input("Enter your height in centimeter : "))
print(f"BMI = {weight / ((height/100) ** 2 ):,.2f}")

3. Calculate the Area of a Circle

Task:  Write a Python program that calculates the area of a circle given its radius. The radius should be entered by the user. Use the formula:

Area = ùúã √ó ùëü2

Where ùúã = 3.14159

In [ ]:
#‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡πÇ‡∏õ‡∏£‡πÅ‡∏Å‡∏£‡∏°‡∏ï‡∏£‡∏á‡∏ô‡∏µ‡πâ
radius = float(input("Enter the radius of the circle : "))
print(f"The area of the circle with radius {radius} is {3.14159 * (radius ** 2):.2f}")

Enter the radius of the circle: 6.8
The area of the circle with radius 6.8 is 145.27

## 2. Relational (comparison) operators

Relational operators are also called comparison operators. It performs a comparison between two values. It returns a boolean  True or False depending upon the result of the comparison.

Python has the following six relational operators.

|Operator | Description | Example
|:- |:-|:-|
|1. == | Checks both left and right operands are same | 10 == 10 it will return true.10 == 7 it will return false |
|2. != | Checks both left and right operands are not same. | 10 != 20 it will return true.10 != 10 it will return false.|
|3.  <  | Checks whether the left operand is smaller than the right operand. | 5 < 10 it will return true.10 < 10 it will |return false.|
|4.  <= | Checks whether the left operand is smaller than or equal to the right operand.| 10 <= 10 it will return true 20 <= 10 it will return false.|
|5.  > | Checks whether the left operand is greater than the right operand.| 50 > 10 it will return true5 > 10 it will return false.|
|6.  >= | Checks whether the left operand is greater than or equal to the right operand.|10 >= 10 it will return true 5 >= 10 it will return false.|

## Observations

You can compare more than two values also. Assume variable x holds 10, variable y holds 5, and variable z holds 2.

So print(x > y > z) will return True because x is greater than y, and y is greater than z, so it makes x is greater than z.

In [ ]:
a = 12
b = 4
c = 2

# > Greater than
print(a > b)  # True
print(a > b > c)  # True

# < Less than
print(a < b)  # False
print(b < a)  # True

# Equal to
print(a == b)  # False
print(a == 12)  # True

# != Not Equal to
print(a != b)  # True
print(12 != a)  # False

# >= Greater than equal to
print(a >= b)  # True
print(12 >= a)  # True

# <= Less than equal to
print(a <= b)  # False
print(12 <= a)  # True

True
True
False
True
False
True
True
False
True
True
False
True

**Exercise : Age Eligibility for Services**
* Accepts a user's age as input.
* Compares the age against service age limits (e.g., 18 for adults and 60 for senior discounts).
* Outputs whether the user meets these criteria (e.g., "eligible for adult services", "eligible for senior discounts").

In [6]:
# Input age
age = int(input("Enter your age: "))

# Perform age comparisons
is_adult = age >= 18
is_senior = age >= 60

# Display results
print("Is the user an adult (18+)? ",is_adult)
print("Is the user eligible for senior discounts (60+)?",is_senior)
print("Is the user under 18? ", age < 18)

Enter your age: 19
Is the user an adult (18+)?  True
Is the user eligible for senior discounts (60+)? False
Is the user under 18?  False

## 3. Assignment operators

In Python, Assignment operators are used to assigning value to the variable. Assign operator is denoted by = symbol.

|Operator|Description|Example
|:- |:- |:-
|= | Assigns values from right side operands to left side operand|c = a + b assigns value of a + b into c
|+= Add AND|It adds right operand to the left operand and assign the result to left operand|c += a is equivalent to c = c + a
|-= Subtract AND | It subtracts right operand from the left operand and assign the result to left operand|c -= a is equivalent to c = c - a
|*= Multiply AND|It multiplies right operand with the left operand and assign the result to left operand|c *= a is equivalent to c = c * a
 /= Divide AND|It divides left operand with the right operand and assign the result to left operand|c /= a is equivalent to c = c / a
%= Modulus ANd |It takes modulus using two operands and assign the result to left operand|c %= a is equivalent to c = c % a
**= Exponent AND|Performs exponential (power) calculation on operators and assign value to the left operand|c **= a is equivalent to c = c ** a
//= Floor Division|It performs floor division on operators and assign value to the left operand|c //= a is equivalent to c = c // a

In [ ]:
a = 4
b = 2

a += b
print(a)  # 6

a = 4
a -= 2
print(a)  # 2

a = 4
a *= 2
print(a)  # 8

a = 4
a /= 2
print(a)  # 2.0

a = 4
a **= 2
print(a)  # 16

a = 5
a %= 2
print(a)  # 1

a = 4
a //= 2
print(a)  # 2

6
2
8
2.0
16
1
2

**Exercise : Assignment operators in Bank Account Management**

Write a Python program to simulate a bank account system where:
* The user starts with an initial balance.
* The user can deposit an amount, which updates the balance using the += operator.
* The user can withdraw an amount, which updates the balance using the -= operator.
* Display the updated balance after each operation

In [ ]:
#‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡πÇ‡∏õ‡∏£‡πÅ‡∏Å‡∏£‡∏°‡∏ï‡∏£‡∏á‡∏ô‡∏µ‡πâ
balance = 0
while True:
    choice = input("What do you want to do (dept or width) : ")

    if choice == "dept":
        dept = float(input("Enter the amount to deposit : "))
        balance -= dept
        print(f"your dept is : {dept:.2f}, Your new balance is : {balance:.2f}")

    elif choice == "width":
        width = float(input("Enter the amount to widthdraw : "))
        balance += width
        print(f"your dept is : {width:.2f}, Your new balance is : {balance:.2f}")
    else:
        break

Enter your initial balance: 50000
Enter the amount to deposit: 1500
After depositing 1,500.00, your new balance is: 51,500.00
Enter the amount to withdraw: 2000
After withdrawing 2,000.00, your new balance is: 49,500.00

## 4. Logical operators

Logical operators are useful when checking a condition is true or not. Python has three logical operators. All logical operator returns a boolean value True or False depending on the condition in which it is used.

| Operator | Description | Example
|:- | --------- | ----------- |
|and Logical AND |	If both the operands are true then condition becomes true. | (a and b) is true.
|or Logical OR	| If any of the two operands are non-zero then condition becomes true.|	(a or b) is true.
|not Logical NOT|	Used to reverse the logical state of its operand.|	Not(a and b) is false.

#####**and (Logical and)**

The logical and operator returns True if both expressions are True. Otherwise, it will return. False.

In [ ]:
print(True and False)  # False
# both are True
print(True and True)  # True
print(False and False)  # False
print(False and True)  # false

# actual use in code
a = 2
b = 4

# Logical and
if a > 0 and b > 0:
    # both conditions are true
    print(a * b)
else:
    print("Do nothing")

False
True
False
False
8

in the case of arithmetic values, Logical and always returns the second value; as a result, see the following example.

In [ ]:
print(10 and 20) # 20
print(10 and 5)  # 5
print(100 and 300) # 300

20
5
300

##### **or (Logical or)**
The logical or the operator returns a boolean  True if one expression is true, and it returns False if both values are false.

In [ ]:
print(True or False)  # True
print(True or True)  # True
print(False or False)  # false
print(False or True)  # True

# actual use in code
x = 2
y = 4

# Logical and
if x > 0 or y < 0:
    # at least one expression is true so conditions is true
    print(x + y)  # 6
else:
    print("Do nothing")

True
True
False
True
6

In the case of arithmetic values, Logical or it always returns the first value; as a result, see the following code.

In [ ]:
print(10 or 20) # 10
print(10 or 5) # 10
print(100 or 300) # 100

10
10
100

##### not (Logical not)
The logical not operator returns boolean True if the expression is false.

In [ ]:
print(not False)  # True return complements result
print(not True)  # True return complements result

# actual use in code
a = True

# Logical not
if not a:
    # a is True so expression is False
    print(a)
else:
    print("Do nothing")

True
False
Do nothing

In the case of arithmetic values, Logical not always return False for nonzero value.

In [ ]:
print(not 10) # False. Non-zero value
print(not 1)  # false. Non-zero value
print(not 5)  # False. Non-zero value
print(not 0)  # True. zero value

False
False
False
True

**Real word use case with Access Control with Logical Operators**


You are implementing a simple access control system for a secured facility. The system checks the following conditions:

* The user must have a valid ID card (True or False).
* The user must know the access code.
* The user should not be blacklisted.

In [ ]:
# Input user information
has_id_card = input("Do you have a valid ID card? (yes/no): ").strip().lower() == "yes"
knows_access_code = input("Do you know the access code? (yes/no): ").strip().lower() == "yes"
is_blacklisted = input("Are you blacklisted? (yes/no): ").strip().lower() == "yes"

# Evaluate access conditions
can_access = has_id_card and knows_access_code and not is_blacklisted

print(can_access)

# Output the result
if can_access:
    print("Access granted. Welcome to the facility!")
else:
    print("Access denied.")

Do you have a valid ID card? (yes/no): yes
Do you know the access code? (yes/no): yes
Are you blacklisted? (yes/no): no
True
True
Access granted. Welcome to the facility!

## 5. Membership operators

Python‚Äôs membership operators are used to check for membership of objects in sequence, such as string, list, tuple. It checks whether the given value or variable is present in a given sequence. If present, it will return True else False.

In Python, there are two membership operator in and not in

##### In operator
It returns a result as True if it finds a given object in the sequence. Otherwise, it returns False.

Let‚Äôs check if the number 15 present in a given list using the in operator.

In [ ]:
my_list = [11, 15, 21, 29, 50, 70]
num = 15
if num in my_list:
    print("number is present")
else:
    print("number is not present")

number is present

##### Not in operator
It returns True if the object is not present in a given sequence. Otherwise, it returns False

In [ ]:
my_tuple = (11, 15, 21, 29, 50, 70)
number = 35
if number not in my_tuple:
    print("number is not present")
else:
    print("number is present")

number is not present

# Identity operators
Use the Identity operator to check whether the value of two variables is the same or not. This operator is known as a reference-quality operator because the identity operator compares values according to two variables‚Äô memory addresses.

Python has 2 identity operators is and is not.

##### is operator
The is operator returns Boolean True or False. It Return True if the memory address first value is equal to the second value. Otherwise, it returns False.

In [ ]:
x = 10
y = 11
z = 10
print(x is y) # it compare memory address of x and y
print(x is z) # it compare memory address of x and z

False
True

In [10]:
# Here, we can use is() function to check whether both variables are pointing to the same object or not.
x = 10
y = 10
z = 10
print(x is y) # it compare memory address of x and y
print(x is z) # it compare memory address of x and

True
True

##### is not operator
The is not the operator returns boolean values either True or False. It Return True if the first value is not equal to the second value. Otherwise, it returns False.

In [11]:
x = 10
y = 11
z = 10
print(x is not y) # it campare memory address of x and y
print(x is not z) # it campare memory address of x and z

True
False

## 7. Bitwise Operators

In Python, bitwise operators are used to performing bitwise operations on integers. To perform bitwise, we first need to convert integer value to binary (0 and 1) value.

The bitwise operator operates on values bit by bit, so it‚Äôs called bitwise. It always returns the result in decimal format. Python has 6 bitwise operators listed below.

* [&] Bitwise and
* [|] Bitwise or
* [^] Bitwise xor
* [~] Bitwise 1‚Äôs complement
* [<<] Bitwise left-shift
* [>>] Bitwise right-shift

It performs logical AND operation on the integer value after converting an integer to a binary value and gives the result as a decimal value. It returns True only if both operands are True. Otherwise, it returns False.

In [12]:
a = 7
b = 4
c = 5
print(a & b)
print(a & c)
print(b & c)

4
5
4

Here, every integer value is converted into a binary value. For example, a =7, its binary value is 0111, and b=4, its binary value is 0100. Next we performed logical AND, and got 0100 as a result, similarly for a and c, b and c

Following diagram shows AND operator evaluation.

![python-bitwise-and-operator.webp](attachment:python-bitwise-and-operator.webp)

##### Bitwise or |
It performs logical OR operation on the integer value after converting integer value to binary value and gives the result a decimal value. It returns False only if both operands are True. Otherwise, it returns True.

In [13]:
a = 7
b = 4
c = 5
print(a | b)
print(a | c)
print(b | c)

7
7
5

Here, every integer value is converted into binary. For example, a =7 its binary value is 0111, and b=4, its binary value is 0100, after logical OR, we got 0111 as a result. Similarly for a and c, b and c.

##### Bitwise xor ^
It performs Logical XOR ^ operation on the binary value of a integer and gives the result as a decimal value.

In [ ]:
a = 7
b = 4
c = 5
print(a ^ c)
print(b ^ c)

2
1

Here, again every integer value is converted into binary. For example, a =7 its binary value is 0111 and b=4, and its binary value is 0100, after logical XOR we got 0011 as a result. Similarly for a and c, b and c.

##### Bitwise 1‚Äôs complement ~
It performs 1‚Äôs complement operation. It invert each bit of binary value and returns the bitwise negation of a value as a result.

In [ ]:
a = 7
b = 4
c = 3
print(~a, ~b, ~c   )
# Output -8 -5 -4

-8 -5 -4

##### Bitwise left-shift <<
The left-shift << operator performs a shifting bit of value by a given number of the place and fills 0‚Äôs to new positions.

In [ ]:
print(4 << 2)
# Output 16
print(5 << 3)
# Output 40

16
40

##### Bitwise right-shift >>
The left-shift >> operator performs shifting a bit of value to the right by a given number of places. Here some bits are lost.

In [ ]:
print(4 >> 2)
# Output
print(5 >> 2)
# Output

1
1

**Bitwise with real world problem about Data Compression Simulation**

You are designing a simple simulation for compressing and decompressing numeric data. Write a program that:

* Compresses a number by left-shifting it by 3 (simulate multiplying by 8).
* Decompresses the number by right-shifting it by 3 (simulate dividing by 8).
* Explain why this operation is useful in reducing the size of numeric data for transmission.

In [ ]:
# Input a number to compress
number = int(input("Enter a number to compress: "))

# Compress the number (left shift by 3)
compressed_number = number << 3
print(f"Compressed number: {compressed_number}")

# Decompress the number (right shift by 3)
decompressed_number = compressed_number >> 3
print(f"Decompressed number: {decompressed_number}")

# Explanation
if decompressed_number == number:
    print("Compression and decompression successful. This method is useful for reducing data size during transmission.")
else:
    print("There was an error in compression or decompression.")

Enter a number to compress: 6846
Compressed number: 54768
Decompressed number: 6846
Compression and decompression successful. This method is useful for reducing data size during transmission.

#### Python Operators Precedence

In Python, operator precedence and associativity play an essential role in solving the expression. An expression is the combination of variables and operators that evaluate based on operator precedence.

We must know what the precedence (priority) of that operator is and how they will evaluate down to a single value. Operator precedence is used in an expression to determine which operation to perform first.

In [14]:
print((18-3) * 2+(10+2))

42

In the above example. 1st precedence goes to a parenthesis(), then for plus and minus operators. The expression will be executed as.

In [15]:
(18 - 3) * 2 +(10+2)
15 * 2 + 12
30 + 12

42

The following tables shows operator precedence highest to lowest.

|Operators|Meaning
|:- |:- |
() |	Parentheses
**	|Exponent
+x, -x, ~x	 | Unary plus, Unary minus, Bitwise NOT
*, /, //, % | Multiplication, Division, Floor division, Modulus
+, -	| Addition, Subtraction
<<, >>	| Bitwise shift operators
&	| Bitwise AND
^	| Bitwise XOR
$|$  | Bitwise OR|
==, !=, >, >=, <, <=, is, is not, in, not in | Comparisons, Identity, Membership operators
not	| Logical NOT
and|	Logical AND
or	|Logical OR

### Variable‚Äôs case-sensitive

Python is a case-sensitive language. If we define a variable with names a = 100 and A =200 then, Python differentiates between a and A. These variables are treated as two different variables (or objects).

In [ ]:
a = 100
A = 200

# value of a
print(a)  # 100
# Value of A
print(A)  # 200

a = a + A
print(a)  # 300

100
200
300

### Constant

Constant is a variable or value that does not change, which means it remains the same and cannot be modified. But in the case of Python, the constant concept is not applicable. By convention, we can use only uppercase characters to define the constant variable if we don‚Äôt want to change it.

In [ ]:
MIN_VALUE = 500
# It is just convention, but we can change the value of MAX_VALUE variable.

### Rules and naming convention for variables and constants

 A name in a Python program is called an identifier. An identifier can be a variable name, class name, function name, and module name.

There are some rules to define variables in Python.

In Python, there are some conventions and rules to define variables and constants that should follow.

* Rule 1: The name of the variable and constant should have a combination of letters, digits, and underscore symbols.

Alphabet/letters i.e., lowercase (a to z) or uppercase (A to Z)
Digits(0 to 9)
Underscore symbol (_)

For Example :
* total_addition
* TOTAL_ADDITION
* totalAddition
* Totaladdition

 * Rule 2: The variable name and constant name should make sense.

Note: we should always create a meaningful variable name so it will be easy to understand. That is, it should be meaningful.

For Example:
x = "Deepali"  
student_name = "Deepali"

It above example variable x does not make more sense, but student_name is a meaningful variable.

* Rule 3: Don‚Äôt‚Äô use special symbols in a variable name

For declaring variable and constant, we cannot use special symbols like $, #, @, %, !~, etc. If we try to declare names with a special symbol, Python generates an error

Example
* ca$h = 1000

* Rule 4:  Variable and constant should not start with digit letters.

You will receive an error if you start a variable name with a digit. Let‚Äôs verify this using a simple example.

* 1studnet = "Deepali"
* print(1studnet)
* Here Python will generate a syntax error at 1studnet. instead of this, you can declare a variable like studnet_1 = "Deepali"

* Rule 5: Identifiers are case sensitive.

In [ ]:
total = 120
Total = 130
TOTAL = 150
print(total)
print(Total)
print(TOTAL)

120
130
150

Here, Python makes a difference between these variables that is uppercase and lowercase, so that it will create three different variables total, Total, TOTAL.

* Rule 6: To declare constant should use capital letters.

In [ ]:
MIN_VALUE = 100
MAX_VALUE = 1000

 Use an underscore symbol for separating the words in a variable name

If we want to declare variable and constant names having two words, use an underscore symbol for separating the words.

In [ ]:
current_temperature = 24

### Assigning multiple values to multiple variables

In [ ]:
roll_no, marks, name = 10, 70, "Deepali"
print(roll_no, marks, name) # 10 20 Deepali

10 70 Deepali

# Exercise : Currency Exchange#

Write a Python program to convert an amount from Thai Baht (THB) to US Dollars (USD) and Euros (EUR). Assume the user inputs the amount in THB, and the exchange rates are:

* 1 THB = 0.03 USD
* 1 THB = 0.027 EUR

In [ ]:
def convertCurrency(amount: float, fromCurrency: str, toCurrency: str) -> float:
    myD = {'usd':1, 'eur': 0.85, 'gbp': 0.75, 'jpy': 110.0, 'thb': 32.0}

    for currency, money in myD.items():
        if fromCurrency.lower() == currency:
            amount /= money
            for i, j in myD.items():
                if toCurrency.lower() == i:
                    return f"{amount * j:.2f}"

def main():
    print("Supported Currencies\nUSD (United States Dollar)\nEUR (Euro)\nGBP (British Pound Sterling)\nJPY (Japanese Yen)\nTHB (Thai Baht)")
    amount, fromCurrency, toCurrency = input("Enter _Amount_ _currentCurrency_ _toCurrency_ : ").split(" ")
    amount = float(amount)

    result = convertCurrency(amount, fromCurrency, toCurrency)
    print(result)
main()

Enter the amount in Thai Baht (THB): 23000
23,000.00 THB is equivalent to 690.00 USD.
23,000.00 THB is equivalent to 621.00 EUR.

In [ ]:
#‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡πÇ‡∏õ‡∏£‡πÅ‡∏Å‡∏£‡∏°‡∏ï‡∏£‡∏á‡∏ô‡∏µ‡πâ

**Try to convert an about from Thai Bath to other currencies such as JP‡πçY, CNY,CHF**
reference https://www.bangkokbank.com/th-th/personal/other-services/view-rates/foreign-exchange-rates

# Homework

Calculate Monthly Installments:

Write a Python program to calculate the monthly installment for a loan. The user will input
*  the loan amount
*  the annual interest rate (as a percentage), and
*  the number of years to pay off the loan.

Use the formula:
![ww.JPG]()

In [ ]:
#‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡πÇ‡∏õ‡∏£‡πÅ‡∏Å‡∏£‡∏°‡∏ï‡∏£‡∏á‡∏ô‡∏µ‡πâ

Enter the loan amount: 3000000
Enter the annual interest rate (in %): 5.5
Enter the number of years to pay off the loan: 15
The monthly installment is: 24,512.50
The total interest paid over 15 years is: 1,412,250.65

‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏  ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÄ‡∏á‡∏¥‡∏ô‡∏ó‡∏µ‡πà‡∏à‡πà‡∏≤‡∏¢‡∏ï‡∏•‡∏≠‡∏î 15 ‡∏õ‡∏µ ‡πÄ‡∏Å‡∏¥‡∏î‡∏à‡∏≤‡∏Å (‡∏¢‡∏≠‡∏î‡πÄ‡∏á‡∏¥‡∏ô‡∏Å‡∏π‡πâ - ‡∏¢‡∏≠‡∏î‡πÄ‡∏á‡∏¥‡∏ô‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏à‡πà‡∏≤‡∏¢‡∏ï‡πà‡∏≠‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏Ñ‡∏π‡∏ì‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏ó‡∏µ‡πà‡∏à‡πà‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡∏ï‡∏•‡∏≠‡∏î‡∏£‡∏∞‡∏¢‡∏∞‡πÄ‡∏ß‡∏•‡∏≤‡∏Å‡∏π‡πâ)