# **Chapter 2  If-Else**

### Control Flow Statements
The flow control statements are divided into three categories

1. Conditional statements
2. Iterative statements.
3. Transfer statements

### Conditional statements
In Python, condition statements act depending on whether a given condition is true or false. You can execute different blocks of codes depending on the outcome of a condition. Condition statements always evaluate to either True or False.

There are three types of conditional statements.

1. if statement
2. if-else
3. if-elif-else
4. nested if-else

### Iterative statements
In Python, iterative statements allow us to execute a block of code repeatedly as long as the condition is True. We also call it a loop statements.

Python provides us the following two loop statement to perform some actions repeatedly

[1].for loop
[2].while loop

### Transfer statements

In Python, transfer statements are used to alter the program’s way of execution in a certain manner. For this purpose, we use three types of transfer statements.

1. break statement
2. continue statement
3. pass statements

## If statement in Python

In control statements, The if statement is the simplest form. It takes a condition and evaluates to either True or False.

If the condition is True, then the True block of code will be executed, and if the condition is False, then the block of code is skipped, and The controller moves to the next line

Syntax of the if statement:

we will calculate the square of a number if it greater than 5

In [ ]:
# Example :
number = 6
if number > 5:
    # Calculate square
    print(number * number)
print('Next lines of code')

36
Next lines of code

In [ ]:
# Example :
# If the number is positive, we print an appropriate message
num = 3
if num > 0:
    print(num, "is a positive number.")
print("This is always printed.")

num = -1
if num > 0:
    print(num, "is a positive number.")
print("This is also always printed.")

3 is a positive number.
This is always printed.
This is also always printed.

* In the above example, num > 0 is the test expression.

* The body of if is executed only if this evaluates to True.

* When the variable num is equal to 3, test expression is true and statements inside the body of if are executed.

* If the variable num is equal to -1, test expression is false and statements inside the body of if are skipped.

* The print() statement falls outside of the if block (unindented). Hence, it is executed regardless of the test expression.

In [ ]:
# Example : if condition
price = 50
if price < 100:
    print("price is less than 100")

price is less than 100

In the above example, the expression price < 100 evaluates to True, so it will execute the block. The if block starts from the new line after : and all the statements under the if condition starts with an increased indentation, either space or tab. Above, the if block contains only one statement. The following example has multiple statements in the if condition.

In [ ]:
# Example : multiple statments in if block

price = 50
quantity = 5
if price*quantity < 600:
    print("price * quantity is less than 600")
    print("price", price)
    print("quantity",quantity)

price * quantity is less than 600
price 50
quantity 5

Above, the if condition contains multiple statements with the same indentation. If all the statements are not in the same indentation, either space or a tab then it will raise an IdentationError.

In [ ]:
# Example: Invalid Indentation in the Block
price = 50
quantity = 5
if price*quantity < 600:
    print("price * quantity is less than 600")
    print("price", price)
    print("quantity",quantity)

IndentationError: unexpected indent (<ipython-input-8-d02ec45941eb>, line 7)

Note : The statements with the same indentation level as if condition will not consider in the if block. They will consider out of the if condition.

In [ ]:
# Example: Out of Block Statements
price = 50
quantity = 5
if price*quantity < 100:
    print("price * quantity is less than 600")
    print("price", price)
    print("quantity",quantity)
print("No if block is executed")

No if block is executed

#### The following example demonstrates multiple if conditions.

In [ ]:
price = 100
if price > 100:
    print("price is greater than 100")
if price ==100:
    print("price is 100")
if price < 100:
    print("price is less than 100")

price is 100

##### Note : Notice that each if block contains a statement in a different indentation, and that's valid because they are different from each other.

# Example Grade Checking

In [16]:
score1 = int(input("Enter the score for test 1: "))
score2 = int(input("Enter the score for test 2: "))
score3 = int(input("Enter the score for test 3: "))
avg = (score1+score2+score3)/3
print("The Total Score is {:,.2f}".format(avg))
if avg >= 85:
    print("Congratulations!!!")
    print("That's Great Average")

Enter the score for test 1: 65
Enter the score for test 2: 54
Enter the score for test 3: 63
The Total Score is 60.67

# Exercise

จงเขียนโปรแกรมคำนวณค่าไฟของการไฟฟ้านครหลวงประเภทบ้านที่อยู่อาศัย  อัตราปกติปริมาณการใช้พลังงานไฟฟ้าเกินกว่า 150 หน่วยต่อเดือน โดยมีอัตราดังต่อไปนี้

          * 150 หน่วย แรก (หน่วยที่ 1 – 150) หน่วยละ 3.2484 บาท
          * 250 หน่วยต่อไป (หน่วยที่ 151 – 400) หน่วยละ 4.2218 บาท
          * เกินกว่า 400 หน่วย (หน่วยที่ 401 เป็นต้นไป) หน่วยละ 4.4217 บาท

ตัวอย่างเช่น เมื่อผู่้ป้อนหน่วยการใช้ไฟฟ้าต่อเดือน  = 428.4 หน่วย  การคำนวณจะแจกแจงดังนี้

          * 150 หน่วยแรก (หน่วยที่ 1 - 150) จะได้ 150 x 3.2484 รวมเป็นเงิน 487.26 บาท
          * 250 หน่วยต่อไป (หน่วยที่ 151 – 400) จะได้ 250 x 4.2218 รวมเป็นเงิน 1,055.45 บาท
          * เกินกว่า 400 หน่วย (หน่วยที่ 401 – 428.4) จะได้ 28.4 x 4.4217 รวมเป็นเงิน 125.57 บาท
          * รวมตัวเลขทั้งหมดเข้าด้วยกันก็จะได้เป็นค่าไฟ 487.26 + 1,055.45 + 125.57 = 1,668.29 บาท / เดือน

In [18]:
#ตัวอย่างผลลัพธ์

Enter the number of electricity units used: 428.4
Your electricity bill is: 1,668.29 THB/Month

In [ ]:
#เขียนโปรแกรมตรงนี่้

## If – else statement

The if-else statement checks the condition and executes the ‘if’ block of code when the condition is True, and if the condition is False, it will execute the else block of code.

In [ ]:
i = 10
if (i < 20):
    print("i is smaller than 10")
else:
    print(" i is greater than 10")

i is smaller than 10

In [ ]:
temp = int(input("Enter the temperature (F): "))
if temp < 40:
    print("It is a little Cold")
else:
    print("Nice weather")

Enter the temperature (F): 50
Nice weather

In [ ]:
 # Take values of length and breadth of a rectangle from user and check if it is square or not.
print ("Enter length")
length = input()
print ("Enter breadth")
breadth = input()
if length == breadth:
    print ("Yes, it is square")
else:
    print ("No, it is only Rectangle")

Enter length
50
Enter breadth
60
No, it is only Rectangle

**Exercise:**

A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.

Enter salary : 50000

Enter year of service : 10

Bonus is 25,000.00

------------
Enter salary : 65000

Enter year of service : 5

No Bonus

In [ ]:
#เขียน code ตรงนี้

### Chain multiple if statement in Python
In Python, the if-elif-else condition statement has an elif keyword used to chain multiple conditions one after another. The if-elif-else is useful when you need to check multiple conditions.

With the help of if-elif-else we can make a tricky decision. The elif statement checks multiple conditions one by one and if the condition fulfills, then executes that code.

Syntax of the if-elif-else statement:

if condition1:
    statment1
elif condition2:
    statment2
elif condition3:
    statment3
    ....
else:
    statment

In [ ]:
# Take two int values from user and print greatest among them.

first = int(input("Enter first number : "))
second = int(input("Enter second number :"))

if first > second:
    print("Greater is ", first)
elif second > first :
    print("Greater is ", second)
else:
    print("Both are equal")

Enter first number : 65
Enter second number :85
Greater is  85

In [ ]:
price = 50

if price > 100:
    print("price is greater than 100")
elif price == 100:
    print("price is 100")
else:
    print("price is less than 100")

price is less than 100

In [ ]:
first = int(input("Enter first age : "))
second = int(input("Enter second age :"))
third = int(input("Enter third age :"))

if first>=second and second>=third:
    print("Oldest is ", first)
elif second>=first and second>=third:
    print("Oldest is ", second)
elif third>=second and second >= first:
    print("Oldest is ", third)
else:
    print("All are equal")

Enter first age : 32
Enter second age :68
Enter third age :2
Oldest is  68

### Nested if-else statement
In Python, Nested-if-else statement is an if statement inside another if-else statement. It is allowed in Python to put any number of if statements in another if statement.

Indentation is the only way to differentiate the level of nesting. The nested-if else is useful when we want to make a series of decisions.

Syntax of the nested-if-else:

In [ ]:
# example 1

x = 41

if x > 40 :
    print("Above forty")
    if x>20:
        print("also above forty")
    else:
        print("not above 10")

Above ten
also above ten

In [ ]:
i = 15
if (i >= 13):
    if (i > 13):
        print ("i is greater than 13  ")
    else:
        print ("i is equal to 13")
else:
    print ("i is smaller than 13")

i is greater than 13

# **Exercise: Grade Checking**

Write a program that asks the user to input a student's score (0-100). Based on the score, assign a grade using the following criteria:

* Score >= 90: Grade A
* 80 <= Score < 90: Grade B
* 70 <= Score < 80: Grade C
* 60 <= Score < 70: Grade D
* Score < 60: Grade F
* If the input is not in the range 0-100, display an error message (Error: Score must be between 0 and 100).

In [ ]:
#เขียน code ตรงนี้

Enter the student's score (0-100): 86
The grade is: B

# **Exercise : Triangle Type Checker**

Write a program that takes three integers as input, representing the lengths of the sides of a triangle. Determine whether the triangle is:

* Equilateral (all sides are equal)
* Isosceles (two sides are equal)
* Scalene (all sides are different)
* Invalid (if the sum of any two sides is less than or equal to the third side).

In [ ]:
#เขียน code ตรงนี้

Enter the first side of the triangle: 6
Enter the second side of the triangle: 8
Enter the third side of the triangle: 7
The triangle is Scalene.

Enter the first side of the triangle: 6
Enter the second side of the triangle: 1
Enter the third side of the triangle: 2
Invalid triangle.

#Homework 1:  Smart Parking Fee Calculator
A smart parking lot system calculates the parking fee based on the following rules:

* If the parking time is ≤ 2 hours, the fee is 0.
* If the parking time is 3–10 hours, the fee is calculated as (hours - 2) * 20 Bath.
* If the parking time is 11–24 hours, split the fee:
   * First, calculate the cost for 8 hours at 30 Bath /hour (8 * 30 = 240).

   * Then, calculate the remaining hours at 25 Bath /hour.

* If the parking time is > 24 hours, apply the flat rate of 300 Bath.

In [ ]:
#เขียนโปรแกรมตรงนี้

Enter the total number of hours parked: 6
The total parking fee is: 80.00 Bath

Enter the total number of hours parked: 15
The total parking fee is: 365.00 Bath

Enter the total number of hours parked: 28
The total parking fee is: 300.00 Bath

#Homework 2  

จงเขียนโปรแกรมเพื่อรับค่าตัวเลข 3 ตัว ทางแป้นพิมพ์ แล้วเรียงค่าตัวเลขทั้ง 3 จากน้อยไปหามาก ดังตัวอย่าง

In [ ]:
#เขียนโปรแกรมตรงนี้

Number 1: 65
Number 2: 85
Number 3: 24
 Descending Sort order: [85, 65, 24]